*{
    scroll-behavior: smooth;
    
}
body{
    background-image:url(img/backgorund.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;

}
#logo-head{
    width: 200px;
    height: 200px;
    
}

#nav{

    height: 50px;
    align-items: center;
    color: aliceblue;
    font-size: 30px;
    display: flex;
    margin-top: 10px;
    background-color: rgba(0,0,1,0.6) ;
    
    
}

.nav-link:hover{
    background-color: rgb(255, 229, 80);
    color: black;
    transition: 0.6s;
    padding: 10px;
}

header{
    display: flex;
    justify-content: space-between;

}
.nav-link{
    color: aliceblue;
    float: left;
    margin-right: 40px;
    justify-content: space-between;
    text-decoration: none;

}

.homebox {
    font-size: 3em;
    margin:10% 25% 0 25%;
    align-items: center;
    background-color: rgba(74, 74, 42, 0.6);
    display :flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

#bookbutton{
    text-decoration: none;
    color: white ;
    border:yellow solid 4px;
    padding: 5px;
    align-items: center;

}
#bookbutton:hover {
    background-color: rgb(255, 229, 80);
    color: black;
    transition: 0.6s;
    padding: 10px;
}


/* style registration in the resaturant  */
.Reservation-header{
    color:#fff;
    text-align:center;
}
#description{
    font-weight: bold;
    font-size:2em;
    color: aqua;
  }
  .title{
    margin-top:40px;
    font-size: 4em;
    color:rgb(255, 255, 0);
  }
  #survey-form{
    color:#fff;
    background-color:rgba(27, 27, 50, 0.8);
    margin:0 20% 0 20%; 
    border-radius:10px;
    padding:30px;
  }
  
  [type="number"]{
    margin-bottom: 10px;
  }
  .input-field{
    width: 100%;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #confirm-password{
    margin-bottom: 20px;
  }
  #Reservation-form{
    background-color: rgba(74, 74, 42, 0.6);
    margin:10% 10% 0% 10%;
      border-radius: 30px;

  }
  #submit{
    background-color: rgb(64, 181, 115);
    color:#fff;
    width: 100%;
    height: 40px;
    border:rgb(64, 181, 115) solid ;

  }
  .login{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 229, 80);
    
  }
  #login{
    font-size: 2rem;
    font-weight: bold;
    
  }
  .login:hover{
    background-color: rgb(255, 229, 80);
    color: black;
    transition: 0.6s;
    padding: 2px;
  }
/* fin style registration in the resataurant*/
/* Style About */
.Aboutbox {
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
     border-width: 2px;
     border-color: white;
     margin-top:  10%;
     background-color: rgba(74, 74, 42, 0.6);
      margin:10% 10% 0% 10%;
      border-radius: 30px;
 }
 
 .titles {
     size: 30px;
     color:white;
     font-size-adjust: all;
     }
 
 .aboutlinks{
     color: rgba(0,200,300);
     text-decoration: none;
     
     font-weight: bold;
     margin: 8px ;
 }
 .aboutlinks:hover{
     size: 10px;
     color: black;
     background-color: aqua;
     transition: 0.6s;
 }
 #abouttitles {
     font-family: cursive;
     transform: translate(-70%,-20%);
 }
 #abouttext {
      font-family: cursive;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
 }
 #abouttext:hover {
     color: rgba(255,0,200);
      font-weight: bold;
      background-color: rgba(100, 100, 70, 0.6);
      transition: 0.8s;
 }
 
/* fin Style About */
#texta{
  padding: 5% 0% 5% 0%;
}

.Localbox{
  border-width: 2px;
  border-color: white;
  margin-top:  10%;
  background-color: rgba(74, 74, 42, 0.6);
  margin:10% 10% 0% 10%;
  border-radius: 30px;
}


.contact-wrap {
 background-color: rgba(74, 74, 42, 0.6);
  margin:10% 10% 0% 10%;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  
}

.contact-in {
  padding: 20px 20px;
}

.contact-in:nth-child(1) {
  flex: 30%;
  color: #fff;
}

.contact-in:nth-child(2) {
  flex: 45%;
  
}

.contact-in:nth-child(3) {
  flex: 25%;
  padding: 0;
}



.contact-in h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.contact-in h2 i {
  font-size: 16px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #f5f5f5;
  color: #000;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
}

.contact-in p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.contact-in iframe {
  width: 100%;
  height: 100%;
}

/*Menu*/

#menu{
  padding: 25px 0 25px 0;
}
#section{
  padding: 
  text-align: center;
  font-size: 2rem;
  font-family: verdana;  
}
#menu_row{
  display: flex;
  padding: 0 100px 0 100px;
}
#menu_col{
  box-shadow: 2px 2px 2px #bbb; 
  border: 1px solid #bbb;
  background-color: rgba(27, 27, 50, 0.8);
  margin: 5px;
  padding: 10px;
  flex: 1;
}
#menu_col h2{
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-family: cursive; 
}
#image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 5px;
  border : 2px solid orange;
}
#image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px;

}
