.a{
	width: 300px;
	height: 100px;
	border-radius: 55px 55px 10px 10px;
	background-color: rgb(150, 122, 32);
	margin-left: 534px;
}

.c{
	width:298px;
	height:10px;
	background-color: green;
    margin-left: 534px;
	border-radius: 4px;
	
}
.d{
	width:298px;
	height:10px;
	background-color: yellow;
    margin-left: 534px;
	border-radius: 4px;
	
}
#b{
	width:300px;
	height:50px;
	border-radius: 10px;
	position: absolute;
	top: 450px; left: 534px;
	background-color:rgb(150, 122, 32);
	
	
}
#1 {
	text-decoration: none;
    color: white ;
    border:yellow solid 4px;
    padding: 5px;
}
#aj{
	font-size: 28px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	position: absolute;
	left: 100px;
	top: 230px;
}
.e{
	width:298px;
	height:10px;
	border-radius: 4px;
	background-color: brown;
    margin-left: 534px;
	

}
.f{
	width:298px;
	height:10px;
	border-radius: 4px;
	background-color: red;
    margin-left: 534px;
	
}
.g{
	width:298px;
	height:10px;
	border-radius: 4px;
	background-color: purple;
    margin-left: 534px;
	
}
#a{
	
	font-size: 14px;
	padding: 12px 16px 12px 90px;
	
	border-radius:10px ;
    
	
}

#a:hover {
    background-color: green;
    color: white;
}
#bt{
	padding: 12px 16px 12px 80px;
	border-radius:10px;
}

#bt:hover {
    background-color: yellow;
    color: white;
}
#c{
	padding: 12px 16px 12px 44px;
	border-radius:10px;
}

#c:hover {
    background-color: brown;
    color: white;
}
#d{
	padding: 12px 16px 12px 80px;
	border-radius:10px;
}

#d:hover {
    background-color: #f44336;
    color: white;
}
#e{
	padding: 12px 16px 12px 85px;
	border-radius:10px;
}

#e:hover {
    background-color: purple;
    color: white;
}
#f{
	padding: 12px 16px 12px 44px;
	border-radius:10px;
}

#l{
	margin-top: 4%;
	margin-left: 5%;
}
.s1{
	position: absolute;
	top: 360px; left: 0;
}
.s2{
	position: absolute;
	top: 350px; left: 0;
}
.s3{
	position: absolute;
	top: 340px; left: 0;
}
.s4{
	position: absolute;
	top: 330px; left: 0;
}
.s5{
	position: absolute;
	top: 320px; left: 0;
}
.s6{
	position: absolute;
	top: 310px; left: 0;
}
.s7{
	position: absolute;
	top: 300px; left: 0;
}
.s8{
	position: absolute;
	top: 290px; left: 0;
}
.s9{
	position: absolute;
	top: 280px; left: 0;
}
.s10{
	position: absolute;
	top: 270px; left: 0;
}
.s11{
	position: absolute;
	top: 260px; left: 0;
}
.s12{
	position: absolute;
	top: 250px; left: 0;
}
.p1{
	position: absolute;
	top: 450px; left: 0;
}
.p2{
	position: absolute;
	top: 440px; left: 0;
}
.p3{
	position: absolute;
	top: 430px; left: 0;
}
.p4{
	position: absolute;
	top: 420px; left: 0;
}
.p5{
	position: absolute;
	top: 410px; left: 0;
}
.p6{
	position: absolute;
	top: 400px; left: 0;
}
.p7{
	position: absolute;
	top: 390px; left: 0;
}
.p8{
	position: absolute;
	top: 380px; left: 0;
}
.p9{
	position: absolute;
	top: 370px; left: 0;
}
.p10{
	position: absolute;
	top: 360px; left: 0;
}
.p11{
	position: absolute;
	top: 350px; left: 0;
}

